/* タブレット向けレイアウト */
@media all and(max-width:1000px){
    /* トップ画面 */
    .top h1{
        font-size:32px;
    }

}


/* モバイル向けレイアウト */
@media all and(max-width:670px){
     /* ヘッダーにメニューバーを表示 */
    .menu-bar{
        display: block;
    }
    .header-login{
        display: none;
    }

    /* トップ画面 */
    .top h1{
        font-size: 24px;
    }
    .top p{
        font-size: 14px;
    }
    .btn{
        width:100%;
        float:center;
    }
    .facebook{
        margin: 0 0 10px 0;
    }

}
